@model UsingHttpClientExample.ApiCollection.RickAndMorty.Models.RickAndMortyCharacter

<h1>Rick and Morty Characters (showing first 20)</h1>
<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model.results)
        {
            <tr>
                <td><img src="@character.image" width="150" /></td>
                <td>@character.name</td>
            </tr>
        }
    </tbody>
</table>