@model UsingHttpClientExample.ApiCollection._postmanEcho.Models.PostmanEchoResponse

<h3>Postman Echo web service is <strong>@(Model.args.foo=="bar"?"":"NOT") working!</strong></h3>
<p>(Result returned is @Model.args.foo)</p>